.box {
    position: sticky;
    top: calc(var(--header-height));

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: var(--header-height);
    min-width: var(--min-width);
    padding: var(--box-margin);
    z-index: 999;

    background-color: white;
}

.searchBox {
    font-size: var(--max-font-size);
    width: clamp(400px, 50%, 800px);
    height: 50%;
}