.page {
    position:relative;

    display: flex;
    flex-direction: column;

    min-width: var(--min-width);

    justify-content: space-between;
}

.flexContainer {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 20px;
}