.gameImage {
    width: 240px;
    height: 240px;
    opacity: 0.8;
    border-bottom: var(--border);
    box-shadow: inset 0 0 4px;
}

.gameImageLarge {
    width: 640px;
    height: 640px;
    opacity: 0.8;
    border: var(--border);
}

.userImage {
    width: 80px;
    height: 80px;
    background-color: var(--blue-semi-trans);
    opacity: 0.75;
    border: var(--border);
    margin: 8px;
}