.gameImage {
    width: 240px;
    height: 240px;
    /*mask-image: linear-gradient(to bottom, black 75%, transparent)*/
}

.gameImageLarge {
    width: 640px;
    height: 640px;
}

.userImage {
    position: relative;
    right: 20px;
    width: 80px;
    height: 80px;
    /*border: 4px solid white;*/
    border: var(--border);
    border-radius: 100%;
    clip-path: circle();
}