.page {
    position:relative;

    display: flex;
    flex-direction: column;

    min-width: var(--min-width);

    justify-content: space-between;
}

.flexContainer {
    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
}